#export-btn {
    background-color: rgb(12, 147, 142);
    color: whitesmoke;
    border: none;
    padding: 10px;
    display: inline-block;
    margin-bottom: 10px;
    cursor: pointer;
}

.cell-row {
    display: flex;
}

.cell {
    width: 80px;
    border: 1px solid lightgrey;
    height: 40px;
    outline: none;
    box-sizing: border-box;

}


/* 클래스 여러개 쓸 때 공백이 있으면 안됨 */
.cell.header { 
    text-align: center;
    background-color: rgb(229, 229, 229);
}

.cell.header.active {
    background-color: rgb(197, 234, 233);
    color: whitesmoke;
}